@using Microsoft.AspNetCore.Http;
@using AppointmentBooking.Enums;

@model List<AppointmentBooking.Models.DTO.ViewPatientHistoryDTO>;

@{
    ViewData["Title"] = "My Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Your Appointments</h1>
<div class="container">
    <div class="row py-5">
        <div class="col-12">
            <table id="example" class="table table-hover responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Appointment Date Time</th>
                        <th>Patient ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Tel No</th>
                        <th>Mobile</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var patient in Model.OrderByDescending(app => app.AppointmentDateTime))
                        {
                            <tr>
                                <td>@patient.AppointmentId</td>
                                <td>@patient.AppointmentDateTime</td>
                                <td>@patient.Patient.PatientId</td>
                                <td>@patient.Patient.FirstName</td>
                                <td>@patient.Patient.LastName</td>
                                <td>@patient.Patient.Email</td>
                                <td>
                                    @patient.Patient.TelephoneNumber
                                </td>
                                <td>
                                    @patient.Patient.MobileNumber
                                </td>
                            </tr>
                        }


                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "order": [[1, "desc"]]
            });
        });
    </script>
}